<!DOCTYPE html>
<%- include('include/head'); %>
<html lang="en">

<body>

  <div class="container">
    <header>
      <div>
			 <div id="socket" style="display: block;">
          <img src="images/icons8-wall-socket-with-plug-64.png" style="width: 64px; height: 64px;" />
        </div>
        <div id="cards" style="display: none;">
          <img src="images/cards.png" style="width: 64px; height: 64px;" />
        </div>
        <div id="insert-card" style="display: none;">
          <img src="images/insert-card.png" style="width: 64px; height: 64px;" />
        </div>
        <div id="w-card" style="display: none;">
          <img src="images/w-card.png" style="width: 64px; height: 64px;" />
        </div>
        <div id="error-card" style="display: none;">
          <img src="images/error-card.png" style="width: 64px; height: 64px;" />
        </div>
        <div id="checked-card" style="display: none;">
          <img src="images/checked-card.png" style="width: 64px; height: 64px;" />
        </div>
        <div id="loading" class="loader" style="display: none;"></div>
      </div>
    </header>
  </div>
</body>

</html>
