<head>
  <meta charset="utf-8" />
  <title><%= title %></title>
  <link rel="stylesheet" href="stylesheets/style.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
  <script src="js/ems.js"></script>
</head>
